{% extends 'navbar.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
    <!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}"> -->
</head>
<body>
    <div class="container" >
        <h1> Login Page </h1>
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
        <form method="POST" >
            {{ form.hidden_tag() }}

            {{ form.username.label }}
            <br>
            {{ form.username }}
            <br>
            {{ form.password.label }}
            <br>
            {{ form.password }}
            <br>
            {{ form. submit }}
            
            
        </form>
</div>
	
</body>
</html>
{% endblock %}