{% extends 'navbar.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
    <!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='login.css') }}"> -->
</head>
<body>
    <div class="container" >
        <br>
        <h1 style="text-align:center;"> Login Page </h1>
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
        <form method="POST" >
            {{ form.hidden_tag() }}

            {{ form.username.label() }}
            <br>
            {{ form.username(class="form-control")}}
            <br>
            {{ form.password.label }}
            <br>
            {{ form.password(class="form-control")}}
            <br>
            {{ form. submit(class="btn btn-primary") }}
        </form>

    </div>
</body>
</html>
{% endblock %}