
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Profile</title>
</head>
<body>
    <div class="container" >
        <h1> User Profile</h1>
        <strong> Name: </strong> {{current_user.name}} 
        <br>
        <strong> Last Name: </strong> {{current_user.last_name}}
        <br>
        <strong> Username: </strong> {{current_user.username}}
        <br>
        <strong> User ID: </strong> {{current_user.id}}
        <br>
        <strong> Email:   </strong> {{current_user.email}}

        
    </div>
	
</body>
</html>
