{% extends 'navbar.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Register</title>
</head>
<body>
    <div class="container" >
        <h1 style="text-align:center;"> Registration Page </h1>


        <form method="POST">
            {{ form.hidden_tag() }}

            <strong> Name: </strong>
            <br>
            {{ form.name(class="form-control") }}
            <br>
            <strong> Last Name: </strong>
            <br>
            {{ form.last_name(class="form-control") }}
            <br>
            <strong> Username: </strong>
            <br>
            {{ form.username(class="form-control") }}
            <small id="emailHelp" class="form-text text-muted">Please type in the username associted with you Spotify account </small>
            <br>
            <strong> Email: </strong> 
            <br>
            {{ form.email(class="form-control")}}
            <br>
            <strong> Password: </strong> 
            <br>
            {{ form.password(class="form-control") }}
            <br>
            <strong> Confirm Password: </strong>
            <br>
            {{ form.confirm_password(class="form-control")}}
            <br>
            {{ form. submit(class="btn btn-primary") }}

        </form>
</div>
	
</body>
</html>
{% endblock %}
