<!DOCTYPE html>
<html lang="en">
<head>
	<title>Register</title>
</head>
<body>
    <div class="container" >
        <h1> Registration Page </h1>

        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}

        <form method="POST" >
            {{ form.hidden_tag() }}

            {{ form.name.label }}
            <br>
            {{ form.name }}
            <br>
            {{ form.last_name.label}}
            <br>
            {{ form.last_name }}
            <br>
            {{ form.username.label }}
            <br>
            {{ form.username }}
            <br>
            {{ form.email.label }} 
            <br>
            {{ form.email}}
            <br>
            {{ form.password.label }}
            <br>
            {{ form.password }}
            <br>
            {{ form.confirm_password.label }}
            <br>
            {{ form.confirm_password}}
            <br>
            <br>
            {{ form. submit }}

        </form>
</div>
	
</body>
</html>
