<!DOCTYPE html>
<html lang="en">
<head>
	<title>Register</title>
</head>
<body>
    <div class="container">
        <h1> Registration Page </h1>
        <form method="POST">
            {{ form.hidden_tag() }}

            {{ form.username.label }}
            <br>
            {{ form.username }}
            <br>
            {{ form.email.label }} 
            <br>
            {{ form.email}}
            <br>
            {{ form.password.label }}
            <br>
            {{ form.password }}
            <br>
            {{ form.confirm_password.label }}
            <br>
            {{ form.confirm_password}}
        </form>
</div>
	
</body>
</html>
