{% extends 'navbar.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div class="card">
        <div class="card-header">
            Update Profile
        </div>
        <div class="card-body">
            <form method="POST" action='/updatepage/{{ current_user.id }}' enctype="multipart/form-data">
                
                {{ form.hidden_tag() }}
                <strong> Name: </strong> 
                {{ form.name (value = user_to_update.name)}}
                <br>
                <strong> Last Name: </strong> 
                {{ form.last_name (value=user_to_update.last_name) }}
                <br>
                <strong> Username: </strong> 
                {{ form.username (value=user_to_update.username) }}
                <br>
                <strong> Email:   </strong> 
                {{ form.email (value= user_to_update.email)}}
                <br>
                <strong> Profile Picture:   </strong>
                <br>
                {{form.profile_pic}}
                <br>
                {{form.submit (value='submit')}}
            </form>
        </div>
    </div>
</body>
</html>
{% endblock %}
